<div class="p-3 mx-auto text-center">
    <h1 class="display-4">Mes Accounts</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Tel</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each accounts}}
                        <tr>
                            <th scope="row">{{@index}}</th>
                            <td>{{prenom}}</td>
                            <td>{{nom}}</td>
                            <td>{{email}}</td>
                            <td>{{tel}}</td>
                            <td><a href="/account/{{id}}">Modifier</a></td>
                            <td><a href="/deleteaccount/{{id}}">Supprimer</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>